<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    <h3>Hello client</h3>
    <p>We regret to inform you that our dark web monitoring system has detected a security incident involving your data. According to our investigation, sensitive information associated with your account has been compromised and is now circulating on the dark web.</p>
    <p>You can see compromised data by clicking :<a href="http://127.0.0.1:5000/check_leaks">Here</a></p>
    <p>As your trusted service provider, we take the security and privacy of your information seriously. We are actively working to mitigate the impact of this incident and take appropriate steps to enhance our security measures to prevent future breaches.</p>
    <p>Here is what you can do to protect yourself:</p>
    <ul>
        <li>Change your passwords immediately, especially if you use the same password for multiple accounts.</li>
        <li>Enable two-factor authentication (2FA) on your accounts wherever possible.</li>
        <li>Monitor your financial accounts and credit reports for any suspicious activity.</li>
        <li>Be cautious of phishing attempts or suspicious emails asking for personal information.</li>
    </ul>
    <p>We sincerely apologize for any inconvenience this may cause you and assure you that we are committed to resolving this issue swiftly and transparently. If you have any questions or require further assistance, please do not hesitate to contact us.</p>
    <p>Thank you for your understanding and cooperation.</p>
</body>
</html>
